{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block carousel %}
{% endblock %}
{% block search %}
{% endblock %}
{% block content %}
<div class="container">
  {% if job_employer|length > 0 %}
  <div class="alert alert-success alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{job_employer}}</strong> your job is successfully posted !!!
  </div>
  {% endif %}
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Post Job</button>
  </form>
</div>
{% endblock %}
