{% extends 'index.html' %}

{% block carousel %}
{% endblock %}

{% block content %}
        <ul class="list-unstyled">
     {% for article in headlines_data.articles %}
        <li class="media">
          <img src="{{article.urlToImage}}" class="align-self-center mr-3" alt="No Image" width="100" height="100">
         <div class="media-body">
            <h5 class="mt-0 mb-1"><a href="{{article.url}}">{{article.title|upper}}</a></h5>
             {{article.description}}
         </li>
         <hr>
              {% endfor %}
       </ul>


{% endblock %}
